/* app css stylesheet */

body {
	background-color: #EDE6DB;
}

.menu {
	background-color: #242E3B;
}

.menu-link, .menu-link:hover {
	color: #FFF;
	text-decoration: none;
}

.menu-link:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.logo {
	display: inline-block;
	margin: 0;
}