<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>EVENTually</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="js/services.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body>
	<div class="menu navbar-inverse" ng-controller="MenuController">
		<div class="container">
			<h1 class="logo">
				<a ng-href="{{rootUrl}}" class="menu-link">[EVENTually]</a>
			</h1>
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="item in menuItems">
					<a ng-href="#">{{item.text}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-view></div>
</body>
</html>
